:root {
    --main-bg-color:#2F303A;
    --title-color: #212121;
    --descp-color:#757575;
    --button-bg-color: #2196F3;
  }
body{
    font-family: 'Roboto';
    font-style: normal;
}
.hero{
    background-color: var(--main-bg-color)
}

.header{
    background: #FFFFFF;
    
}
.hero-title{

font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
}
.title{
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;

color: var(--title-color);
}
.subheader{
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--title-color);


}
.description{
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;

color: var(--descp-color);


}
.phone{

text-decoration: none;
color: var(--descp-color);
font-size: 1.7;
line-height: 24px;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

.button{
    
background: var(--button-bg-color) ;
border-radius: 4px;
outline: none;
  cursor: pointer;
  border: none;
  font-weight: 700;
font-size: 16px;
line-height: 1.8;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #FFFFFF;
}
.button:hover{
    background: #188CE8;
border-radius: 4px;
}
.logo{

font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;

/* identical to box height */
letter-spacing: 0.03em;

color: var(--button-bg-color);

}
.container
{
background: #FFFFFF;
border: 1px solid #EEEEEE;
box-sizing: border-box;
}
.list{
    list-style: none;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

color: var(--title-color);
}
.footer{
    background: var(--main-bg-color)
}

.img-member{
width: 270px;
height: 260px;
}
.team-card{
    background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
.member-name{
font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-color);
}
.member-role{
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;

color: var(--descp-color);


}
.filter-buttons{
list-style: none;
text-align: center;

}
.filter-button{
    font-family: 'Roboto';
    background: #F5F4FA;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    cursor: pointer;
    border: none;
}
.filter-name{
font-weight: 500;
font-size: 16px;
line-height: 1.6;
text-align: center;
letter-spacing: 0.03em;

color: var(--title-color);
}
.active-button{
  background: var(--button-bg-color);
  color: #FFFFFF;
 box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
font-weight: 500;
font-size: 16px;
line-height: 1.6;
text-align: center;
letter-spacing: 0.03em;
color: #FFFFFF;
    
}
.filter-button:active{
    background: var(--button-bg-color);
    color: #FFFFFF;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
font-weight: 500;
font-size: 16px;
line-height: 1.6;
text-align: center;
letter-spacing: 0.03em;
color: #FFFFFF;
}

.item-card{
    list-style: none;
    background: #FFFFFF;
border: 1px solid #EEEEEE;
box-sizing: border-box;
}
.item-header{
   
    font-size: 18px;
    line-height: 2;
   letter-spacing: 0.06em;
    color: var(--title-color);}
    .item-name{
        font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.8;
letter-spacing: 0.03em;
color: var(--descp-color);
    }
.adress{
font-style: normal;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;

color: #FFFFFF;
}
.email{
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    
    letter-spacing: 0.03em;
    
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    


}
.list-item{
    list-style: none;
}

  
.contacts{
    list-style: none;
    text-decoration: none;
    font-style: normal;
    
}
.contact{
    text-decoration: none;
   
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--descp-color);
}
.link:hover{
    color: var(--button-bg-color);

}
.contact:hover{
    color: var(--button-bg-color);
}
.contact:focus{
    color: var(--button-bg-color);
}

.link{
    text-decoration: none;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

color: var(--title-color);
}
.active{
    color: var(--button-bg-color);
    }
    .team-cards{
        background: #F5F4FA;
        list-style: none;
    }
    .img-list{
        list-style: none;
    }
    .link:focus{
        color: var(--button-bg-color);

    }